<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>
<%= button_to "Remove Sub", sub_url(@sub), method: :delete %>

<br>

<h4>Moderator: <%= @sub.moderator.username %></h4>

<h3>Posts!</h3>

<ul>
  <% @sub.posts.each do |post| %>
    <li><%= link_to "#{post.title}", post_url(post) %></li>
  <% end %>
</ul>
